{% extends 'baselogin.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <form class="formlogin" method="post">
        <div align="center" class="card">
            <div class="card-top">

                {% load static %}
                <img class="imglogin"   width=50 height=60>
                <h2 class="title">Fazer login</h2>
                <p>Se você não tiver criado uma conta ainda, então, por favor
                    <a href="/accounts/signup/" >Cadastre-se</a> primeiro.</p>
            </div>
            <div  class="card-group">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
        <button  onmouseenter="entrar()" onmouseout="sair()" id="btn1"class="btn btn-success" type="submit">Entrar</button>
        <button  onmouseenter="entrar()" onmouseout="sair()" id="btn1"class="btn btn-success" type="submit"> 
            <a class="button secondaryAction" href="/accounts/password/reset/" style="color: white">Redefinir senha?</a></button>
        <button  onmouseenter="entrar()" onmouseout="sair()" id="btn1"class="btn btn-success" type="submit"> 
            <a class="button secondaryAction" href="/" style="color: white">Home</a></button>
        </div>
    </form>
{% endblock %}