body {
    background-color: #eee
}

.time {
    font-size: 9px !important
}

.socials i {
    margin-right: 14px;
    font-size: 17px;
    color: #d2c8c8;
    cursor: pointer
}
.feed-image img {
    width: 100%;
    height: auto
}
.logo{
    background: url('logo.jpg') no-repeat left bottom;
}
.icone{
    background: url('logo.jpg') no-repeat left bottom;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
    
  }
.text{
    text-align: center;
}