<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title%}Entrar{% endblock%}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/cadastro.css' %}">
       
    </head>
<body>
    <main class="container">
        {% block content %}
        
     
    <form class="formlogin">
        {% csrf_token%}
        <div class="card">
            <div class="card-top">

                {% load static %}
                <img class="imglogin"   width=50 height=60>
                <h2 class="title">Fazer login</h2>
            </div>
        <div class="card-group">
            <label>Email:</label>
            <input type="email" name="email"placeholder="Digite seu email"required>
            
        </div>
        <div class="card-group">
            <label>Senha:</label>
            <input type="password" name="senha"placeholder="Digite sua senha"required>
            
        </div>
        <div class="card-group">
            <label><input type="checkbox">Lembre-me</label>
        </div>
        
        </div>
    </main>
</form>
       <!-- <div class="card-group" >

            <button onmouseenter="entrar()" onmouseout="sair()" id="btn1" type="submit" value="Acessar" class="acessar">Acessar</button> 
            <button onmouseenter="entrar()" onmouseout="sair()" id="btn2" type="submit"><a href="/cadastro"class="btn btn-info" style="color: white"> Cadastre-se</a></button> 
            <button onmouseenter="entrar()" onmouseout="sair()" id="btn3" type="submut"><a href="/"class="btn btn-info" style="color: white"> Home</a></button>
        </div>-->
    </div>
    </form>
    <script>
        //Botões
        function entrar(){
            var a = window.document.getElementById('btn1')
            a.style.background = 'rgb(167 142 107)'
            var b = window.document.getElementById('btn2')
            b.style.background = 'rgb(167 142 107)'
            var c = window.document.getElementById('btn3')
            c.style.background = 'rgb(167 142 107)'
            
        }
        function sair(){
            var a = window.document.getElementById('btn1')
            a.style.background = 'rgb(201 170 127)'
            var b = window.document.getElementById('btn2')
            b.style.background = 'rgb(201 170 127)'
            var c = window.document.getElementById('btn3')
            c.style.background = 'rgb(201 170 127)'
        }

    </script>
    <script src="script.js"></script>
    {% endblock %}


<!--exibindo dados do banco

 {% for dbs in db %} 
 <tr>
    
    <th>{{dbs.nome}} </th></br>
</tr>
 {% endfor %}-->
</body>
</html>