{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Cadastro{% endblock %}

{% block content %}
{% csrf_token %}
<form onsubmit="confSalvar()" name="formcadastro" id="formcadastro" action ="/create/" method="POST">
    <div class="card">
        <div class="card-top">
            <div class="col-8 m-auto pt-1 pb-1 text-center">
                <h2 id="title"> Criar conta</h2>
            </div>
        

        <div class="form_group mt-1" >Nome</br> {{form.nome}}</div>
        <div class="form_group mt-1">CNPJ</br>{{form.cnpj}}</div>
        <div class="form_group mt-1">Cep</br> {{form.cep}}</div>
        <div class="form_group mt-1">Endereço</br>{{form.endereco}}</div>
        <div class="form_group mt-1">Número</br> {{form.numero}}</div>
        <div class="form_group mt-1">Bairro</br>{{form.bairro}}</div>
        <div class="form_group mt-1">Municipio</br> {{form.municipio}}</div>
        <div class="form_group mt-1">Estado</br>{{form.estado}}</div>
        <div class="form_group mt-1">Email</br>{{form.email}}</div>
        <div class="form_group mt-1">Senha</br>{{form.senha}}<br><small id="passwordHelpInline" class="text-muted">
            Deve ter de 8 a 20 caracteres.
          </small></div>
        <div class="form_group mt-1">Confirme sua senha</br>{{form.confsenha}}</div>
        </br>
        { form|crispy }}
        <div  class="col-8 m-auto pt-1 pb-1 text-center">
        <input onmouseenter="entrar()" onmouseout="sair()" id="btn1" type="submit" class="btn btn-success" value="Salvar">
        <button onmouseenter="entrar()" onmouseout="sair()" id="btn2" type="submit" class="btm btm-info"><a href="/login"  style="color: white"> Fazer login</a></button>
    </div>
    </div>      
    </div>       
    
</form>
<script>
    //function valida_senha(){
        //if(document.getElementById('senha').value.length < 8){
        //alert('A senha deve ter de 8 a 20 caracteres.');
        //document.getElementById('senha').focus();
        //return false
    //}
    //}

    //Confirmar enviode form
    function confSalvar(){
        alert('Confirmar dados no formulário?')
    }
    //Botões
    function entrar(){
        var a = window.document.getElementById('btn1')
        a.style.background = 'rgb(167 142 107)'
        var b = window.document.getElementById('btn2')
        b.style.background = 'rgb(167 142 107)'
    }
    function sair(){
        var a = window.document.getElementById('btn1')
        a.style.background = 'rgb(201 170 127)'
        var b = window.document.getElementById('btn2')
        b.style.background = 'rgb(201 170 127)'
    }

</script>
<script src="script.js"></script>
{% endblock %}

<!--<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastre-se</title>-->
        <!--<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
        <!--{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/cadastro.css' %}">

    </head>

<body> 

<body> 
    <form onsubmit="confSalvar()" name="formcadastro" id="formcadastro" action ="/create/" method="POST">
        <div class="card">
            <div class="card-top">
                <div class="col-8 m-auto pt-1 pb-1 text-center">
                    <h2 id="title"> Criar conta</h2>
                </div>
            {% csrf_token %}

            <div class="form_group mt-1" >Nome</br> {{form.nome}}</div>
            <div class="form_group mt-1">CNPJ</br>{{form.cnpj}}</div>
            <div class="form_group mt-1">Cep</br> {{form.cep}}</div>
            <div class="form_group mt-1">Endereço</br>{{form.endereco}}</div>
            <div class="form_group mt-1">Número</br> {{form.numero}}</div>
            <div class="form_group mt-1">Bairro</br>{{form.bairro}}</div>
            <div class="form_group mt-1">Municipio</br> {{form.municipio}}</div>
            <div class="form_group mt-1">Estado</br>{{form.estado}}</div>
            <div class="form_group mt-1">Email</br>{{form.email}}</div>
            <div class="form_group mt-1">Senha</br>{{form.senha}}<br><small id="passwordHelpInline" class="text-muted">
                Deve ter de 8 a 20 caracteres.
              </small></div>
            <div class="form_group mt-1">Confirme sua senha</br>{{form.confsenha}}</div>
            </br>
            
            <div  class="col-8 m-auto pt-1 pb-1 text-center">
            <input onmouseenter="entrar()" onmouseout="sair()" id="btn1" type="submit" class="btn btn-success" value="Salvar">
            <button onmouseenter="entrar()" onmouseout="sair()" id="btn2" type="submit" class="btm btm-info"><a href="/login"  style="color: white"> Fazer login</a></button>
        </div>
        </div>      
        </div>       
        
    </form>
    <script>
        //function valida_senha(){
            //if(document.getElementById('senha').value.length < 8){
            //alert('A senha deve ter de 8 a 20 caracteres.');
            //document.getElementById('senha').focus();
            //return false
        //}
        //}

        //Confirmar enviode form
        function confSalvar(){
            alert('Confirmar dados no formulário?')
        }
        //Botões
        function entrar(){
            var a = window.document.getElementById('btn1')
            a.style.background = 'rgb(167 142 107)'
            var b = window.document.getElementById('btn2')
            b.style.background = 'rgb(167 142 107)'
        }
        function sair(){
            var a = window.document.getElementById('btn1')
            a.style.background = 'rgb(201 170 127)'
            var b = window.document.getElementById('btn2')
            b.style.background = 'rgb(201 170 127)'
        }

    </script>
    <script src="script.js"></script>
</body>
</html>-->

<!--<form name="formcadastro" id="formcadastro" action ="/create/" method="POST">
            {% csrf_token %}
        <div class="col-3 m-auto pt-3 pb- text-center">
            <h2> CADASTRO</h2>
            <label for="exampleInputNome" class="form-label">Nome</label>
            <input type="name" class="form-control" id="exampleInputNome"  placeholder="Seu nome"><br>

            <label for="exampleInputCNPJ" class="form-label">CNPJ</label>
            <input type="text" class="form-control" id="exampleInputNome"  placeholder="CNPJ"><br>

            <label for="exampleInputCep" class="form-label">Cep</label>
            <input type="text" class="form-control" id="exampleInputNome"  placeholder="Cep" ><br>

            <label for="exampleInputEndereço" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="exampleInputNome"  placeholder="Endereço" ><br>

            <label for="exampleInputNumero" class="form-label">Número</label>
            <input type="number" class="form-control" id="exampleInputNome"  placeholder="Número" ><br>

            <label for="exampleInputBairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="exampleInputNome"  placeholder="Bairro" ><br>

            <label for="exampleInputMunicipio" class="form-label">Município</label>
            <input type="text" class="form-control" id="exampleInputNome"  placeholder="Seu município"><br>

            <label for="exampleInputEstado" class="form-label">Estado</label>
            <input type="text" class="form-control" id="exampleInputNome"  placeholder="Estado"><br>

            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputNome"  placeholder="Email"><br>

            <label for="exampleInputSenha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputSenha"  placeholder="Senha"><br>

            <label for="exampleInputConfSenha" class="form-label">Confirme sua senha</label>
            <input type="password" class="form-control" id="exampleInputSenha"  placeholder="Confirme sua senha" ><br>
                <div class="col-8 m-auto pt-4 pb-2 text-center">
                    <a href="/login"class="btn btn-secondary"> Voltar</a>
                    <input type="submit" class="btn btn-success" value="Salvar">
                 </div>
            &nbsp;
            
            &nbsp;
        </div> 
    </form>
</body>
</html>-->

