<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastre-se</title>
       
    </head>
<body>
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <h1> CADASTRO</h1>
    </div>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <a href="/"class="btn btn-info"> Voltar</a>
    </div>
    <div class="col-8 m-aut pt-4 pb-2 text-center">
    
        <div class="form_group mt-4">Nome:<input type = "text>"></div>
            <div class="form_group mt-4">CNPJ:<input type = "text>"></div>
            <div class="form_group mt-4">CEP:<input type = "text>"></div>
            <div class="form_group mt-4">Endereço:<input type = "text>"></div>
            <div class="form_group mt-4">Número<input type = "text>"></div>
            <div class="form_group mt-4">Bairro:<input type = "text>"></div>
            <div class="form_group mt-4">Municipio:<input type = "text>"></div>
            <div class="form_group mt-4">Estado:<input type = "text>"></div>
            <div class="form_group mt-4">Email:<input type = "text>"></div>
            <div class="form_group mt-4">Senha:<input type = "text>"></div>
            <div class="form_group mt-4">Confirme sua senha:<input type = "text>"></div>
            
            <input type="submit" class="btn btn-success" value="Salvar">
       
    </div>
    
</body>
</html>
