{% extends 'base.html' %} {% load static %}
<!--COmentário-->
{% block title %} Quilombo.ong {% endblock %}
<!--COmentário-->
{% block content %}
<div class="container mt-4 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">
      <div class="feed p-2">
        <div
          class="
            d-flex
            flex-row
            justify-content-between
            align-items-center
            p-2
            bg-white
            border
          "
        >
          <div class="feed-text px-2">
            <h6 class="text-black-50 mt-2">What's on your mind</h6>
          </div>
          <div class="feed-icon px-2">
            <i class="fa fa-long-arrow-up text-black-50"></i>
          </div>
        </div>
        <div class="bg-white border mt-2">
          <div>
            <div
              class="
                d-flex
                flex-row
                justify-content-between
                align-items-center
                p-2
                border-bottom
              "
            >
              <div class="d-flex flex-row align-items-center feed-text px-2">
                {% load static %}
                <img class="logo rounded-circle" width="45" height="45" />
                <div class="d-flex flex-column flex-wrap ml-2">
                  <span class="font-weight-bold">{% if user.is_authenticated %}
                    {{user.username}}
                    {% else %}
                    Quilombo Nova Descoberta
                    {% endif %}</span
                  ><span class="text-black-50 time">40 minutes ago</span>
                </div>
              </div>
              <div class="feed-icon px-2">
                <i class="fa fa-ellipsis-v text-black-50"></i>
              </div>
            </div>
          </div>
          <div class="p-2 px-3">
            <span
              >Surgiu em torno de 1940 quando os sitios Pitombeira e Jaçaré se
              mudaram para as margens da estrada que liga as cidades de Ielmo
              Marinho e Macaiba.Viviam da agricultura de subsistência, produziam
              mandioca, feijão, milho, algodão, dentre outras. O algodão
              produzido era vendido para fazendeiros da região..</span
            >
          </div>
          <div class="d-flex justify-content-end socials p-2 py-3">
            <i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i
            ><i class="fa fa-share"></i>
          </div>
        </div>
        <div class="bg-white border mt-2">
          <div>
            <div
              class="
                d-flex
                flex-row
                justify-content-between
                align-items-center
                p-2
                border-bottom
              "
            >
              <div class="d-flex flex-row align-items-center feed-text px-2">
                {% load static %}
                <img class="logo rounded-circle" width="45" height="45" />
                <div class="d-flex flex-column flex-wrap ml-2">
                  <span class="font-weight-bold">{% if user.is_authenticated %}
                    {{user.username}}
                    {% else %}
                    Quilombo Nova Descoberta
                    {% endif %}</span
                  ><span class="text-black-50 time">40 minutes ago</span>
                </div>
              </div>
              <div class="feed-icon px-2">
                <i class="fa fa-ellipsis-v text-black-50"></i>
              </div>
            </div>
          </div>
          <div class="feed-image p-2 px-3">
            <img
              class="img-fluid img-responsive"
              src="https://i.imgur.com/aoKusnD.jpg"
            />
          </div>
          <div class="d-flex justify-content-end socials p-2 py-3">
            <i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i
            ><i class="fa fa-share"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
