<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
   
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <meta content="" name="description">
  <meta content="" name="keywords">
    <title>home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">
</head>
<body>
home
<a href="/login"class="btn btn-info"> Acesso</a>
<a href="/perfil"class="btn btn-info"> Perfil</a>
<form class="navbar-form navbar-left">
    <div class="form-group">
      <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">Buscar</button>
  </form>
</ul>

</body>
</html>