{% extends 'baseinfo.html' %}

{% block title %}Quilombo.ong{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">
      <div class="feed p-2">
        
        <div class="bg-white border mt-2">
          <div>
            <div
              class="
                d-flex
                flex-row
                justify-content-between
                align-items-center
                p-2
                border-bottom
              "
            >
              <div
                class="d-flex flex-row align-items-center feed-text px-2"
              >
              {% load static %}
              <img class="logo rounded-circle" width="45" height="45" />
                <div class="d-flex flex-column flex-wrap ml-2">
                  <span class="font-weight-bold">Quilombo.ong</span
                  >
                </div>
              </div>
              
            </div>
          </div>
          <article class="p-2 px-3">
            
            <span>
              <h3>Seja Bem-Vindo (a) ao Quilombo.Ong!</h3>
               Somos um portal informativo e transparente, 
                  desenvolvido para conter informações das comunidades quilombolas no RN, 
                  funcionando como uma rede social.</span>
                  <br>
                  <!--<form  method="post" >
                    <article>
                      <h4>Confirme que esta de acordo com os termos abaixo:</h4>
                      <input type="checkbox" id="termos_de_contrato" / onclick="alerte()"><label
                      for="termos_de_contrato"
                    >
                      Afirmo que li todo o contrato</label
                    >
                    
                    <script type="text/javascript">
                     function alerte() {
                      let checkbox = document.getElementById("termos_de_contrato");
                      if (checkbox.checked) {
                      redirect("Você confirmou que está de acordo com os nossos termos de uso!");
                      } else {
                     return(informativo.html);
                      }
                                  }

                    </script>
                    
                  </article>
                    <button type = "submit" id="confirma" / onclick="confirma()"><a class="nav-link" href="{% url 'account_signup' %}">Cadastre-se</a> </button>
                    <script type="text/javascript">
                      
                    </script>
                  </form.charfield>-->
                  <div class="modal-body">
                    <!--botão termos de uso-->
                    <script>   
                        function HabiDsabi(){  
                            if(document.getElementById('habi').checked == true){ 
                                document.getElementById('envia').disabled = ""  
                            }  
                            if(document.getElementById('habi').checked == false){ 
                                document.getElementById('envia').disabled = "disabled"  
               
                           }
                        }
                    </script>
                    <form name="form1">
                        <p>
                            <input type="checkbox" name="habi" id="habi" onClick="HabiDsabi()">  
                            Eu li e aceito os termos de uso 
                            <a target="_blank" href="#">termos de uso<a>.
                        </p>
                        <input type="submit" class="btn btn-terciary"  name="envia" id="envia" value= "Cadastre-se" onclick = "cad()" disabled>
                        <script>
                          function cad(){
                            window.open("{% url 'account_signup' %}");
                          }
                        </script>
                        
                        
                      
                    <!-- fim do botão -->
               </div>
                </div>
                
            
          </div>
          
        </div>
        
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}
