{% extends 'baseinfo.html' %}

{% block title %}Quilombo.ong{% endblock %}

{% block content %}

<html lang="pt-br">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../static/css/informativo.css"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    </head>

    <body>
        <article class="p-2 px-3"></article>
        <div class="pagiInformacoes">
          <h3>Bem vindo(a)!</h3><br>

          <div class="ladoEsquerdo">            
            <p>Somos um portal informativo e transparente desenvolvido
                para conter informações<br> das comunidades  quilombolas no RN,
                funcionando como uma rede social. </p>
          </div>

          <div class="frase">
            <span>Para continuar, aceite os seguintes termos:</span>
          </div>

            <form name="post">
              {% csrf_token %}
              <div class="ladoDireito">
                <input type="checkbox" name="Termo1" value="termo1" id="check1" required>
                <label class="test" for="check1"> Tenho o CNPJ de minha comunidade Quilombola.</label><br>
            
                <input type="checkbox" name="Termo2" value="termo2" id="'check2" required>
                <label for="check2"> Assumo inteira responsabilidade pelo conteúdo postado por esse perfil.</label><br>

                <input type="checkbox" name="Termo2" value="termo2" id="'check3" required>
                <label for="check3"> Li e aceito os termos de serviços e privacidade do Quilombo.ong.</label>
              </div>

              <div class="buttons">
                <button class="fat" type = "submit"><a class="nav-link" href="{% url 'account_signup' %}"><strong>Cadastre-se</strong></a> </button> &emsp;&emsp;
                <button class="fat" onClick="cancelar"> <a href="{% url 'home' %}"><strong>Cancelar</strong></button></a>;   
              </div><br>
            </form.CharField>  
          
        </div>

    <script src="../static/js/polls/functions.js"></script>
  
    </body>
</html>

{% endblock %}