{% extends 'baseinfo.html' %}

{% block title %}Quilombo.ong{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">
      <div class="feed p-2">
        
        <div class="bg-white border mt-2">
          <div>
            <div
              class="
                d-flex
                flex-row
                justify-content-between
                align-items-center
                p-2
                border-bottom
              "
            >
              <div
                class="d-flex flex-row align-items-center feed-text px-2"
              >
              {% load static %}
              <img class="logo rounded-circle" width="45" height="45" />
                <div class="d-flex flex-column flex-wrap ml-2">
                  <span class="font-weight-bold">Quilombo.ong</span
                  >
                </div>
              </div>
              
            </div>
          </div>
          <div class="p-2 px-3">
            <span>
              <h3>Seja Bem-Vindo (a) ao Quilombo.Ong!</h3>
               Somos um portal informativo e transparente , 
                  desenvolvido para conter informações das comunidades quilombolas no RN, 
                  funcionando como uma rede social.</span>
                  <br>
                  <form method="post">
                    <div>
                      <h4>Confirme que esta de acordo com os termos abaixo:</h4>
                    <input type = "checkbox" id = "chk1" name = "chk1" value = "check1" required>
                    <label for = ""> Subscreva a newsletter? </label><br>
                    <input type = "checkbox" id = "chk2" name = "chk2" value = "newsletter"required>
                    <label for = ""> Subscreva a newsletter? </label><br>
                    <input type = "checkbox" id = "chk3" name = "chk3" value = "newsletter"required>
                    <label for = ""> Subscreva a newsletter? </label><br>                
                      <button type = "submit"><a class="nav-link" href="{% url 'account_signup' %}">Cadastre-se</a> </button>
                    </div>
                  </form>
                    
                </div>
                
            
          </div>
          
        </div>
        
          </div>
        </div>
      </div>
    </div>
    <script language='javascript'>
      function verifica_checkbox()
      {
         var chk1 = document.seu_form.chk1.checked;
         var chk2 = document.seu_form.chk2.checked;
      
         if (chk1 == false)
         {
            alert('marque o check 1');
            document.seu_form.chk1.focus();  
            return false;
         }
         else if (chk1 == true)
         {
            alert('você marcou o checkbox certo!');
         }
         return true;
      }
      </script>
{% endblock %}
