<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/login.css' %}">
       
    </head>
<body>
    <form class="formlogin" action="">
        <div class="card">
            <div class="card-top">

                {% load static %}
                <img class="imglogin"   width=50 height=60>
                <h2 class="title">Login</h2>
            </div>
        <div class="card-group">
            <label>Email:</label>
            <input type="email" name="email"placeholder="Digite seu email"required>
            
        </div>
        <div class="card-group">
            <label>Senha:</label>
            <input type="password" name="senha"placeholder="Digite sua senha"required>
            
        </div>
        <div class="card-group">
            <label><input type="checkbox">Lembre-me</label>
        </div>
        <div class="card-group">
            <button type="submit" value="Acessar">Acessar</button> 
            <button type="submit"><a href="/cadastro"class="btn btn-info" style="color: white"> Cadastre-se</a></button> 
            <button type="submut"><a href="/"class="btn btn-info" style="color: white"> Home</a></button>
        </div>
    </div>
    </form>
    


exibindo dados do banco

 {% for dbs in db %} 
 <tr>
    
    <th>{{dbs.nome}} </th></br>
</tr>
 {% endfor %}
</body>
</html>
