<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<style>
body{
    background-color: #f0f0f0;
}
.formlogin{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}
.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    
}
.card-top{
    text-align: center;
}

</style>
    
</head>
<body>
    <form class="formlogin" action="">
        <div class="card">
            <div class="card-top">
                <img src="" alt="">
                <h2>Login</h2>
                <p>Acesse ou <a href="/cadastro"class="btn btn-info"> Cadastre-se</a></br></p>
            </div>
        </div>
    </form>



exibindo dados do banco

 {% for dbs in db %} 
 <tr>
    <th>{{dbs.id}} </th>
    <th>{{dbs.nome}} </th>
</tr>
 {% endfor %}
</body>
</html>