{% extends 'basepublic.html' %}
{% block title %}Quilombo.ong{% endblock %}
{% block links%}
    <link rel="stylesheet" type="text/css" href="../static/polls/links/publi.css" />
    <link rel="stylesheet" type="text/css" href="../static/polls/publicar.css"/>
{% endblock%}
{% block content %}
<div class="container mt-4 mb-5" id="body">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">
      <div class="feed p-2">
        <div class="div-geral">
          <div class="div-one">
            <h1 class="titulo-page">Nova publicação</h1>
            <p>Crie e compartilhe com seus seguidores.</p>
          </div>
          <form class="div-two">
            <div class="previews">
              <div>
                <input type="file" name="file" id="img-input" class="inputfile">
                <label for="img-input" class="label_input-img">
                    {% load static %}
                  <img src="../static/img/cam.svg" alt="" srcset="">
                  Imagem
                </label>
              </div>
              <div class="preview" id="div-preview">
                {% load static %}
                <button class="button_fechar" onclick="apagarImg()">x</button>
                <img  class="preview-img" id="preview" src="" alt="">
              </div>
            </div>
            
            <div class="div-legendas">
              <label for="exampleFormControlInput1">Titulo</label>
              <input type="text" class="input-div" id="exampleFormControlInput1" placeholder="Titulo da postagem" required>
              <label for="exampleFormControlTextarea1">Conteúdo</label>
              <textarea class="input-div" id="exampleFormControlTextarea" rows="5" placeholder="Adicione a descrição"></textarea>
            </div>
           
            <input type="submit" id="btn1" class="btn btn-primary mb-2" value="Publicar">
          </form>

        </div>
      </div>
    </div>
  </div>

  {% load static %}
  <script src="../static/polls/js/function.js"></script>
 


  {% endblock %}