{% extends 'basepublic.html' %}

{% block title %}Quilombo.ong{% endblock %}

{% block content %}
<div class="col-md-8">
    <div class="form-group">
   
      <label for="exampleFormControlTextarea1">Publicação</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Anexar arquivo</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    
    <button type="submit" class="btn btn-primary"><a href="/" style="color: white"> Publicar</a></button>
  </form>
</div>
{% endblock %}

