<!DOCTYPE html>
<head>
    <title>Redefinição de senha</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/login.css' %}">
</head>
<body>
    <h1>Redefinição senha</h1>
    <p>
        Esqueceu a sua senha? Insira o seu endereço de e-mail abaixo, e lhe enviaremos um e-mail permitindo que a redefina.
    </p>
    <form method="POST" action="/accounts/password/reset/" class="password_reset">
        <input type="hidden" name="csrfmiddlewaretoken" value="7AAAJkW30u20splkDEkzXyvpzfJCXbpQNUxnjXYwinNRHf8CDq7IPUdgXu6yWkyU">
        <p><label for="id_email">E-mail:</label> <input type="email" name="email" placeholder="Endereço de e-mail" autocomplete="email" required="" id="id_email"></p>
        <input type="submit" value="Redefinir a minha senha">
    </form>
    <p>Por favor, contacte-nos se tiver qualquer problema para redefinir a sua senha.</p>
</body>